/* Changes to Bootstrap's standard Jumbotron component */
.p-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: black;
}

/* Space around twitter button */
.twitterBtn {
  margin: 2rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}
